<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'foundation' , }) %>
    <!-- page-body -->
    <div class="main typo" id="main">
        <div class="main-inner">
            <div class="local">
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name">Typography 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">
                        <h3 class="content-name">Typography</h3>
                        <p class="content-summary">웹 인증 글꼴 패밀리, 글꼴 두께, 문자 간격을 사용하여 일관된 디자인을 만들 수 있도록 합니다.<br> 타이포그래피 시스템은 제목과 텍스트 유형을 제공하고 사용법을 지정합니다.</p>
                    </div>
                    <div class="content-body">
                        <div class="section design4 case2 type1 brand-ci">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Typeface</h4>
                                    </div>
                                </div>
                                <div class="section-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>