<!-- page-aside : 페이지별 앵커 영역 마크업 추가 예정 -->
<% if (name === 'colors') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="javascript:void(0)" class="link term">Principle</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="link term">Light and Dark mode</a></li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="link term">Basic Color</a>
            <a href="javascript:void(0)" class="link desc">Main Color</a>
            <a href="javascript:void(0)" class="link desc">Sub Color</a>
            <a href="javascript:void(0)" class="link desc">Greyscale</a>
        </li>
        <li class="nav-item"></li>
            <a href="javascript:void(0)" class="link term">Semantic Color</a>
            <a href="javascript:void(0)" class="link desc">Background</a>
            <a href="javascript:void(0)" class="link desc">Popup box</a>
        </li>
    </ul>
</div>
<% } else if (name === 'typography') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item"><a href="javascript:void(0)" class="link term">Typeface</a></li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="link term">Components</a>
            <a href="javascript:void(0)" class="link desc">Heading</a>
            <a href="javascript:void(0)" class="link desc">Title</a>
            <a href="javascript:void(0)" class="link desc">Body</a>
            <a href="javascript:void(0)" class="link desc">Detail</a>
            <a href="javascript:void(0)" class="link desc">Label</a>
            <a href="javascript:void(0)" class="link desc">Link</a>
        </li>
        <li class="nav-item"><a href="javascript:void(0)" class="link term">Font sizes</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="link term">Font weight</a></li>
        <li class="nav-item"></li>
            <a href="javascript:void(0)" class="link term">Line height</a>
            <a href="javascript:void(0)" class="link desc">Heading and detail</a>
            <a href="javascript:void(0)" class="link desc">Body and code</a>
            <a href="javascript:void(0)" class="link desc">Component</a>
        </li>
    </ul>
</div>
<% } else if (name === 'layout') { %>
<div class="aside">

</div>
<% } else if (name === 'object-styles') { %>
<div class="aside">

</div>
<% } %>
<!-- //page-aside -->