<!-- page-aside : 페이지별 앵커 영역 마크업 추가 예정 -->
<% if (name === 'colors') { %><div class="aside">
    <ul class="aside-list">
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Principle</a>
                </em>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Light and Dark mode</a>
                </em>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Basic Color</a>
                </em>
                <div class="aside-body">
                    <ul class="anchor-list">
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Main Color</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Sub Color</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Greyscale</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<% } else if (name === 'typography') { %><div class="aside">
    <ul class="aside-list">
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Typeface</a>
                </em>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">components</a>
                </em>
                <div class="aside-body">
                    <ul class="anchor-list">
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Heading</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Title</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Body</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Detail</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Label</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Link</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Font sizes</a>
                </em>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Font weight</a>
                </em>
            </div>
        </li>
        <li class="aside-item">
            <div class="aside-wrap">
                <em class="aside-head">
                    <a href="javascript:void(0)" class="aside-subject">Line height</a>
                </em>
                <div class="aside-body">
                    <ul class="anchor-list">
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Heading and detail</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Body and code</a></li>
                        <li class="anchor-item"><a href="javascript:void(0)" class="anchor">Component</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
<% } else if (name === 'layout') { %>

<% } else if (name === 'object-styles') { %>

<% } %>
<!-- //page-aside -->