<!-- page-foot -->
<div class="footer" id="footer">
	<div class="footer-inner">
		<div class="footer-head">
			<em class="footer-subject">©Pentabreed. StyleGuide Create with</em>
		</div>
		<div class="footer-body">
			<a href="#">펜타브리드</a>
		</div>
	</div>
</div>
<!-- //page-foot -->