<!-- page-foot -->
<footer id="footer">
	<div class="footer-inner">
		<div class="footer-head">
			©Pentabreed. StyleGuide Create with 
		</div>
		<div class="footer-body">
			<a href="#">펜타브리드</a>
		</div>
	</div>
</footer>
<!-- //page-foot -->