<div class="skip">
    <span class="blind">skip navigation</span>
    <ul>
        <li><a href="#naviMenu">메뉴 바로가기</a></li>
        <li><a href="#main">본문 바로가기</a></li>
        <li><a href="#footer">하단 정보(링크) 바로가기</a></li>
    </ul>
</div>
<!-- page-head -->
<% if(type == 'main') { %>
    <header class="main" id="header">메인 헤더입니다.</header>
<% } else if(type == 'foundation') {%>
    <header class="foundation" id="header">foundation 헤더입니다.</header>
<% } else if(type == 'components') {%>
    <header class="components" id="header">components 헤더입니다.</header>
<% } else if(type == 'guidelines') {%>
    <header class="guidelines" id="header">guidelines 헤더입니다.</header>
<% } %>
    <!-- <div class="header-inner">
        <div class="depth1-wrap">
            <h1 class="site-logo">
                <a href="javascript:void(0)" class="site-name">
                    <span class="blind">연합뉴스 로고</span>
                </a>
            </h1>
            <div class="site-navi" id="naviMenu">
                <ul class="depth1-list">
                    <li class="depth1-item">
                        <a href="javascript:void(0)" class="depth1">Foundation</a>
                    </li>
                    <li class="depth1-item">
                        <a href="javascript:void(0)" class="depth1">Components</a>
                    </li>
                    <li class="depth1-item">
                        <a href="javascript:void(0)" class="depth1">Guidelines</a>
                    </li>
                </ul>
            </div>
            <div class="site-util">
                <div class="util-list">
                    <div class="util-item version">
                        <span class="text">v 0.1</span>
                    </div>
                    <div class="util-item search">
                        <div class="search-input-wrap">
                            <input type="text" class="search-input" placeholder="Please enter the keyword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="depth2-wrap foundation">
        </div>
    </div> -->
</header>
<!-- //page-head -->