#wrap {
    position: relative;
    min-width: 1720px;
    min-height: 100vh;
    .main {
        min-height: calc(100vh - 10rem);
        .local-body {
            position: relative;
            display: flex;
            align-items: flex-start;
            // justify-content: space-between;
            .content {
                position: relative;
                .content-inner {
                    min-width: 122rem;
                    padding-top: 20rem;
                    padding-left: 16rem;
                    padding-bottom: 30rem;
                }
                .content-head {
                    width: 98rem;
                    .content-name {
                        color: color(gray,900);
                        @include font(large-4x,bold);
                    }
                    .content-summary {
                        color: color(gray,600);
                        @include font(small-3x);
                    }
                    + .content-body {
                        margin-top: 8rem;
                    }
                }
                .content-body {
                    width: 98rem;
                    .section {
                        + .section {
                            margin-top: 8rem;
                        }
                        .section-head {
                            .section-subject {
                                color: color(gray,900);
                                @include font(small,bold);
                            }
                            .section-summary {
                                color: color(gray,600);
                                @include font(small-3x);
                            }
                            + .section-body {
                                margin-top: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}