.quick-nav {
    min-width: 20rem;
    padding-top: 22rem;
    position: sticky;
    top: 0;
    align-self: flex-start;
    margin-right: 20rem;
    margin-left: auto;
    .nav-list {
        .nav-item {
            .link {
                display: block;
                &.term {
                    padding: 0.6rem 1rem;
                    color: color(gray,400);
                    @include font(small-6x,medium)
                }
                &.desc {
                    position: relative;
                    padding: 0.4rem 1.5rem;
                    margin-left: 1rem;
                    color: color(gray,400);
                    @include font(small-7x,regular);
                    &:before {
                        content: '';
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-left: 1px solid color(gray,200);
                    }
                    + .term {
                        margin-top: 0.8rem;
                    }
                }
                &.active {
                    &.term {
                        color: color(gray,900);
                    }
                    
                    &.desc {
        
                    }
                }
            }
        }
    }
}