#footer {
    width: 100%;
    height: 10rem;
    z-index: 999;
    background-color: color(etc,100);

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    .footer-inner {
        max-width: 132rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .footer-head {
            .footer-subject {
                padding: 4.3rem 0 4.2rem;
                color: color(gray,500);
                @include font(small-6x,regular);
            }
        }
        .footer-body {
            
        }
    }
}