$icon: (
    arrow-up1: (
        size-w: 14,
        size-h: 9,
        path:
        'M0.365166 8.63483C0.0136945 8.28336 0.0136945 7.71351 0.365166 7.36204L7.00156 0.725645L13.638 7.36204C13.9894 7.71351 13.9894 8.28336 13.638 8.63483C13.2865 8.9863 12.7166 8.9863 12.3652 8.63483L7.00156 3.27123L1.63796 8.63483C1.28649 8.98631 0.716638 8.98631 0.365166 8.63483Z'
        ,
    ),
);

@function icon($name, $color) {
    $size-w: map-get($icon, $name, 'size-w');
    $size-h: map-get($icon, $name, 'size-h');
    $path: map-get($icon, $name, 'path');
    $data: "data:image/svg+xml,%0A%3Csvg width='#{$size-w}' height='#{$size-h}' viewBox='0 0 #{$size-w} #{$size-h}' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='#{$path}' fill='rgb(" +
        red($color) + ',' + green($color) + ',' + blue($color) + ")'/%3E%3C/svg%3E%0A";
    @return url($data);
}