#lnb {
    min-width: 30rem;
    padding-top: 12rem;
    position: sticky;
    top: 0;
    align-self: flex-start;
    &::after {
        content: '';
        border-right: 1px solid color(gray,200);
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
    }
    .depth2-wrap {
        .depth2-head {
            .depth2-subject {
                display: block;
                padding: 0.8rem 3rem;
                color: color(gray,900);
                @include font(small-2x,bold);
            }
        }
        
        .depth2-body {
            margin: 0 1.5rem;
            .depth2-list {
                .depth2-item {
                    .depth2 {
                        display: block;
                        padding: 1rem 1.5rem;
                        border-radius: 0.2rem;
                        color: color(gray,400);
                        @include font(small-3x,regular);
                    }
                    &.active {
                        .depth2 {
                            background: color(bg,blue);
                            color: color(primary,100);
                            @include font(small-3x,medium);
                        }
                    }
                }
            }
        }
    }
}