// breakpoints
$mobile : 320px;
$mobile-large : 768px;
$tablet : 1024px;
$web-small : 1280px;
$web : 1920px;


// color palettes
$color-palettes: (
    primary: (100: #4F6FCB,
    100d: #6D93FF,
    ),
    deep-primary: (100: #374E8E,
    100d: #374E8E
    ),
    secondary: (100: #293766,
    100d: #4F6FCB,
    ),
    active: (100: #4F6FCB,
    100d: #4F6FCB,
    ),
    disabled: (100: #DCE2F5,
    100d: #414960,
    ),
    info: (100: #7CB1FF,
    100d: #7CB1FF,
    ),
    warning: (100: #7CB1FF,
    100d: #7CB1FF,
    ),
);

// create color
@function color($theme: neutral, $variant: 000, $opacity: 1) {
    $set-color: map-get($color-palettes, $theme, $variant);
    $create-color: rgba(red($set-color), green($set-color), blue($set-color), $opacity);
    @return $create-color;
}

// font
$font-size: (
    small-6x: 1.2rem,
    small-5x: 1.4rem,
    small-4x: 1.6rem,
    small-3x: 1.8rem,
    small-2x: 2rem,
    small-1x: 2.4rem,
    small: 2.8rem,
    medium: 3.2rem,
    large: 3.6rem,
    large-1x: 4rem,
    large-2x: 4.5rem,
    large-3x: 4.8rem,
    large-4x: 5.2rem,
    large-5x: 6.4rem,
    large-6x: 7.4rem,
    large-7x: 8rem,
    large-8x: 8.8rem,
    large-9x: 9.6rem,
    large-10x: 10.4rem,
    large-11x: 11.2rem,
    large-12x: 12rem,
);

$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    heavy: 900,
);

@mixin font($size, $weight: regular) {
    font-weight: map-get($font-weight, $weight);
    font-size: map-get($font-size, $size);
}