<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body>
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'components' , }) %>
    <!-- page-body -->
    <div class="main button" id="main">
        <div class="main-inner">
            <div class="local">
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name">box button 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <div class="content-head">
                        <h3 class="content-name">box button</h3>
                        <p class="content-summary">연합뉴스</p>
                    </div>
                    <div class="content-body">
                        <div class="section design4 case2 type1 brand-ci">
                            <div class="section-wrap">
                                <div class="section-head">
                                    <div class="section-subject">
                                        <h4 class="section-name">Principle</h4>
                                    </div>
                                </div>
                                <div class="section-body">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>