<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_head.ejs') %>
</head>
<body> 
<div id="wrap">
    <%-include('../_templates/_header.ejs', { type: 'guidelines' , }) %>
    <!-- page-body -->
    <div class="main guidelines principles" id="main">
        <div class="main-inner">
            <div class="local"> 
                <div class="local-head">
                    <div class="local-subject">
                        <h2 class="local-name blind">Principles 디자인 가이드</h2>
                    </div>
                </div>
                <div class="local-body">
                    <%-include('../_templates/_lnb.ejs', { depth1: 'guidelines', depth2: 'principles', depth3: null }) %>
                    <div class="content">
                        <div class="content-head">
                            <h3 class="content-name">Principles</h3>
                            <p class="content-summary">모든 의사 결정은 사용자를 중심으로 이루어져야 합니다. 사용자 요구 사항을 기반으로 설계하고,<br> 사용자가 원하는 정보와 기능을 제공하고 사용자가 목적을 달성하는 과정을 적극적으로 도와야 합니다.</p>
                        </div>
                        <div class="content-body">
                            <div class="section">
                                <div class="section-wrap">
                                    <div class="section-head">
                                        <h4 class="section-subject">디자인 원칙</h4>
                                    </div>
                                    <div class="section-body"> 
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //page-body -->
    <%-include('../_templates/_footer.ejs') %>
</div>
</body>
</html>